* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'tahoma', 'san-serif';
    color: #666;
    font-size: 16px;
    background: #f9f9f9;
    line-height: 1.6em;
}

ul,
li {
    list-style: none;
}

#faqcontainer {
    width: 60%;
    margin: 30px auto;
    overflow: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.faqtitle {
    height: 40px;
    background: #6bbA70;
    color: #fff;
    text-align: center;
    padding-top: 15px;
}

.faq li {
    padding: 20px;
}

.faq li.q {
    background: #eee;
    font-weight: bold;
    font-size: 120%;
    border-bottom: 1px #ddd solid;
    cursor: pointer;
}

.faq li.a {
    background: #ddd;
    display: none;
}

.rotate {
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

@media (max-width: 800px) {
    #container {
        width: 60%;
    }
}